@media screen{

	body.account-login{
	
	

		#agent-register{
			background-repeat:no-repeat;
			background-position: center center;
			background-size: cover;
		}

		#page-wrapper{
			background: url('images/banner-agent-registration.jpg') no-repeat center center;
			background-size: cover;

			#page-content{
				padding: 80px 0;
			}

			.panel{
				margin: 0 auto;
				max-width: 840px;
				background: rgba(255,255,255,0.9);
				border-radius: 15px;
				text-align: center;
				.panel-logo{
					width: 50px;
					margin: 0 auto 10px;
				}
				.panel-body{
					padding: 0;
				}
				.panel-right{
					padding: 30px;

				}
				.panel-heading{
					font-size: 21px;
					color: #0C4672;
					padding: 0;
				}
				.form-ctrl {
				    margin-top: 10px;
				}
				.forgot{
					font-size: 0.857em;
					font-style: italic;
				}
				hr{
					border-top: 1px solid #878A8F;
				}
				.btn{
					i{

					}
				}
			}
		}


		@media (min-width: 992px){ 
				
			#page-wrapper{
				display: table;
				width: 100%;
				padding: 0;
				.panel{
					overflow: hidden;
					position: relative;
					&:after{
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						top: 0;
						width: 50%;
						background: url(images/thumbnail-login.jpg) center center no-repeat;
						background-size: cover;
						height: 100%;
					}
					.panel-heading{
						font-size: 23px;
					}
					.panel-right{
						float: right;
						width: 50%;
						padding: 40px 50px;
					}
				}
				#page-content{
					display: table-cell;
					vertical-align: middle;
				}
			}
			/*#header {
			    position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    z-index: 10;
			}
			#footer{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			} */
		}
	}
}